---

const { image, alt } = Astro.props

---


<div class="imgLink">
    <img src={image} alt={alt} />
    {alt}
</div>

<style>

    .imgLink {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2cqb;
        margin: 0;
        background: rgb(228, 196, 156);
        border-radius: 2cqb;
        transition: all 0.3s;
    }
    .imgLink img {
        border-radius: 2cqb;
        max-width: 50cqb;
        padding : 0;
        
    }

    @media screen and (max-width: 800px) {
        .imgLink {
            max-height: 100%;
            width: 100%;
            max-width: 100%;
            flex: 1 1 100%;
        }

        .imgLink img {
            max-width: 100%;
            max-height: 100%;
        }
    }

</style>