---


---


<div class="carousel">
    <slot />
</div>



<style>
    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;

    }

</style>