---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<h1>snacks for my friends</h1>
	<h2>Bespoke Bar Snacks curated to accent your menu and elevate your guest&apos;s experience. Let&apos;s be friends!</h2>


	<a href="mailto:stevendaedelus@gmail.com">email us</a>


</div>


<style>
	#container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-size: cover;
		background-position: center;
		color: #ccc;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	a {
		font-size: 1.5rem;
		text-decoration: none;
		border: 1px solid white;
		padding: 1rem 2rem;
		border-radius: 5px;
	}
</style>